body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #111;
    color: #fff;
}


header {
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #000;
}
.logo {
    font-size: 24px;
    color: #00ff80;
    font-weight: bold;
    text-shadow: #00ff80 10px 0px 50px;
    
}
.navbar a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
    cursor: pointer;
}
.navbar :hover{
     transform: translateY(-10px);
    box-shadow: 0 0 15px #00ff80;
}
.contact {
    padding: 70px 20px;
    text-align: center;
}

.contact h2 {
    color: #00ff80;
    font-size: 32px;
    margin-bottom: 40px;
}
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.icon-box {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    width: 120px;
    border: 1px solid #00ff80;
    transition: 0.4s ease;
    cursor: pointer;
}

.icon-box p {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}
.icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #00ff80;
}
.contact-form {
    width: 90%;
    max-width: 450px;
    margin: auto;
    background: #111;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #00ff80;
    box-shadow: 0 0 15px rgba(0,255,128,0.2);
    text-align: left;
}

.contact-form h3 {
    text-align: center;
    color: #00ff80;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #1c1c1c;
    border: 1px solid #00ff80;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}
.send-btn {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: #00ff80;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover {
    background: #28ffa0;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    border-radius: 5px;
}


@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 70px;
        right: 40px;
        background: #000;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        display: none;
        border-radius: 10px;
    }

    .navbar a {
        padding: 10px 0;
        text-align: center;
    }

    .navbar.active {
        display: flex;
    }
}