body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #111;
    color: #fff;
}


header {
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #000;
}
.logo {
    font-size: 24px;
    color: #00ff80;
    font-weight: bold;
    text-shadow: #00ff80 10px 0px 50px;
    
}
.navbar a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
    cursor: pointer;
}
.navbar :hover{
     transform: translateY(-10px);
    box-shadow: 0 0 15px #00ff80;
}
.section-title {
    font-size: 35px;
    color: #00ff80;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0 0 20px #00ff80;
}
.timeline {
    width: 80%;
    margin: auto;
    border-left: 3px solid #00ff80;
    padding-left: 40px;
    position: relative;
}
.timeline-item {
    position: relative;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid #00ff80;
    box-shadow: 0 0 15px rgba(0,255,128,0.3);
    transition: 0.3s ease;
    text-align: center;
}
.timeline-content {
    background: #0e0e0e;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00ff80;
    box-shadow: 0 0 15px rgba(0,255,128,0.3);
    transition: 0.3s ease;
}

.timeline-item:hover {
    transform: translateX(10px);
    box-shadow: 0 0 25px rgba(0,255,128,0.8);
}
.timeline-content:hover {
    transform: translateX(10px);
    box-shadow: 0 0 25px rgba(0,255,128,0.8);
}
.timeline-item h3 {
    color: #00ff80;
    margin-bottom: 5px;
    font-size: 22px;
    text-align: center;
}
.timeline-content h3 {
    color: #00ff80;
    margin-bottom: 5px;
    font-size: 22px;
}

.timeline-content span {
    font-size: 14px;
    opacity: 0.8;
}

.timeline-content p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.6;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    border-radius: 5px;
}


@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 70px;
        right: 40px;
        background: #000;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        display: none;
        border-radius: 10px;
    }

    .navbar a {
        padding: 10px 0;
        text-align: center;
    }

    .navbar.active {
        display: flex;
    }
}

