body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #111;
    color: #fff;
}


header {
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #000;
}
.logo {
    font-size: 24px;
    color: #00ff80;
    font-weight: bold;
    text-shadow: #00ff80 10px 0px 50px;
    
}
.navbar a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
    cursor: pointer;
}
.navbar :hover{
     transform: translateY(-10px);
    box-shadow: 0 0 15px #00ff80;
}

#head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00ff80;
    margin-top: 20px;   
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: #00ff80 0px 0px 10px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    color: #00ff80;
     padding-top: 0px;
    margin-top: 5px; 
    height: auto; 
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    border-radius: 5px;
}


@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 70px;
        right: 40px;
        background: #000;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        display: none;
        border-radius: 10px;
    }

    .navbar a {
        padding: 10px 0;
        text-align: center;
    }

    .navbar.active {
        display: flex;
    }
}

.mere{
    border: 2px solid black;
    background-color: #111;
}
.hero h2 span {
    color: #00ff80;
}
section {
    padding: 70px 40px;
    text-align: center;
}
#name{
    color: #fff;
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    flex-direction: column;
}
.me img {
    display: block;
    margin: 0 auto 2rem auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4CAF50;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.5) ;  
}
.me p{
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    color: #f0f0f0;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}
/* --- Footer */

footer {
    background: #000;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 50px; 
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: #fff;
    
}
.footer-content img{
    width: 30px;
    border-radius: 5px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
    gap: 20px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem; 
    transition: color 0.4s ease, transform 0.4s ease;
    display: inline-block;
}


.socials a:hover {
    color: #00ff80;
    transform: translateY(-5px);
    text-shadow: 0 0 15px #00ff80; 
}

.footer-bottom {
    background: #111; 
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}

