body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #111;
    color: #fff;
}
header {
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #000;
}
.logo {
    font-size: 24px;
    color: #00ff80;
    font-weight: bold;
    text-shadow: #00ff80 10px 0px 50px;
    
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    border-radius: 5px;
}


@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 70px;
        right: 40px;
        background: #000;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        display: none;
        border-radius: 10px;
    }

    .navbar a {
        padding: 10px 0;
        text-align: center;
    }

    .navbar.active {
        display: flex;
    }
}
.navbar a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
.navbar :hover text{
     transform: translateY(-10px);
    box-shadow: 0 0 15px #00ff80;
}
#head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00ff80;
    margin-top: 20px;   
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: #00ff80 0px 0px 10px;
    margin-top: 100px;
}

header {
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #000;
}

#skill-head {
    color: #00ff80;
    font-size: 35px;
    text-shadow: 0 0 15px #00ff80;
    margin-bottom: 30px;
    text-align: center;
}


.skills-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.skill-item {
    background: #000;
    width: 180px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #00ff80;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(0,255,128,0.15);
}
.skill-item img{
    border-radius: 30px;
}


.skill-item img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 5px #00ff80);
}


.skill-item p {
    margin-top: 10px;
    font-size: 17px;
    color: #00ff80;
    font-weight: 600;
}

.skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00ff80;
    border-color: #00ffaa;
}

@media (max-width: 768px) {
    .skill-item {
        width: 130px;
    }
}
